<div class="container" *ngIf="user$ | async as user">

	<div class="row mt-2">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-2">
							<h5>Expedientes</h5>
						</div>
						<div class="col-md-4 d-flex justify-content-end">
							<button type="button" class="btn btn-primary btn-sm d-inline me-2" (click)="showForm()">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									 class="bi bi-plus-square" viewBox="0 0 16 16">
									<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
									<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
								</svg>
								Nuevo
							</button>
							<button type="button" class="btn btn-secondary btn-sm d-inline me-2" (click)="showList()">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									 class="bi bi-list"
									 viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
								</svg>
								Lista
							</button>
							<button type="button" class="btn btn-success btn-sm d-inline me-2" (click)="exportList()">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									 class="bi bi-file-earmark-spreadsheet-fill" viewBox="0 0 16 16">
									<path d="M6 12v-2h3v2H6z"/>
									<path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM3 9h10v1h-3v2h3v1h-3v2H9v-2H6v2H5v-2H3v-1h2v-2H3V9z"/>
								</svg>
								Exportar
							</button>
						</div>
						<div class="col-md-4 p-0">
							<input type="text" class="form-control form-control-sm"
								   placeholder="Buscar por: expediente, fiscal, imputado, agraviado, etc"
								   [(ngModel)]="searchText">
						</div>
						<div class="col-md-2">
							<select class="form-control form-control-sm" (change)="selectFile($event.target)">
								<option value='0'>Mostrar todos</option>
								<option value="1">Vigentes</option>
								<option value="2">Por vencer</option>
								<option value="3">Vencidos</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-md-12">
			<ng-container *ngIf="list === true">
				<app-list-files [showType]="showType" [searchText]="searchText"></app-list-files>
			</ng-container>

			<ng-container *ngIf="form === true">
				<app-new-file [user]="user"></app-new-file>
			</ng-container>
		</div>
	</div>

</div>
